/* body {

    /* cursor: url("/assets/paintbrush_icon.png"), auto; */

#colors {
    /* border: 1px solid black; */
    height: 800px;
    width: 450px;
    position: absolute;
    padding-left: 5px;   
    padding-top: 5px;
    top: 200px;
    left: 250px;
}


.swatches {
    /* flex-wrap: wrap; */
    border: 1px solid grey;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 5px;
    border-radius: 20px;

}

#eraser, #clear {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px; 
    width: 285px;
    display: block;
    margin: auto;
    margin-left: 5px;
    margin-top: 10px;
}

#paletteImage {
    height: 800px;
    width: 800px;
    z-index: -1;
}

#canvas {
    /* border: 1px solid black; */
    height: 795px;
    width: 1050px;
    position: absolute;
    right: 20px;
    display: flex;
    flex-flow: row wrap;
    background-color: none;   
    top: 50px;
}

.pixels {
    border: 1px dotted grey;
    height: 40px;
    width: 40px;
    display: inline-block;
    /* flex-flow:wrap; */
    padding-right: 0%;
    
}

/* .row {
    flex-direction: row;
    flex-flow: wrap;
}

.column {
    flex-direction: column;
    flex-flow: wrap;
} */

