/* body {

    /* cursor: url("/assets/paintbrush_icon.png"), auto; */

#colors {
    border: 1px solid black;
    height: 800px;
    width: 320px;
    position: fixed;
    padding-left: 5px;   
    padding-top: 5px;
}


.swatches {
    /* flex-wrap: wrap; */
    border: 1px solid grey;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 5px;

}

#eraser, #clear {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px; 
    width: 285px;
    display: block;
    margin: auto;
    margin-left: 5px;
    margin-top: 10px;
}


#canvas {
    border: 1px solid black;
    height: 795px;
    width: 1050px;
    position: fixed;
    right: 5%;
    display: flex;
    flex-flow: row wrap;
    background-color: none;   
}

.pixels {
    border: 1px dotted grey;
    height: 40px;
    width: 40px;
    display: inline-block;
    /* flex-flow:wrap; */
    padding-right: 0%;
    background-color: none;
    
}

/* .row {
    flex-direction: row;
    flex-flow: wrap;
}

.column {
    flex-direction: column;
    flex-flow: wrap;
} */

